<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Play The Purge - Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/index.js"></script>
</head>

<body>
    <div class="container" style="border-style: none;">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="font-family: Aldrich, sans-serif;">Play The Purge - Store</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.playthepurge.com">Forums</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row" style="width: 1110;">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="margin-top: 20px;">
                        <h5 class="mb-0" style="font-family: Aldrich, sans-serif;">Donation Items</h5>
                    </div>
                    <div class="card-body" style="border-bottom-width: 1px;border-bottom-style: solid;">
                        <p class="card-text">All items listed here are automatically send to the username you input in the text area below. Be sure to enter your username properly to receive you items right away. If you're experiencing any issues please contact dotBAIT on discord or post in the Support Section on the forums.</p>
                    </div><label class="mx-auto" style="font-family: Aldrich, sans-serif;margin-top: 5px;">Minecraft Username</label><input type="text" class="mx-auto mc-username" style="width: 500px;margin-left: 0;font-family: Aldrich, sans-serif;border-style: solid;border-color: rgb(94,93,93);border-radius: 10px;padding-left: 10px;" placeholder="notch">
                    <% items.available.forEach(function(item){ %>
                        <div class="card swing animated store-item-container" style="width: 50%;margin-left: 25%;text-align: left;background: rgb(247,247,247);box-shadow: 3px 4px 11px 1px;border-style: solid;border-color: rgb(204,205,207);border-radius: 3px;">
                            <div class="card-body store-item" style="width: 100%;padding-right: 0;padding-left: 0;text-align: center;" data-item-id="<%= item.id %>">
                                <h4 class="card-title item-name" style="font-family: Aldrich, sans-serif;text-align: center;"><%= item.name %></h4>
                                <h6 class="text-muted card-subtitle mb-2 item-price" style="margin-left: 0;padding-left: 10%;padding-right: 10%;">$<%= (item.price / 100).toFixed(2) %></h6>
                                <img class="rounded img-fluid mx-auto item-image" style="border-radius: 3px;border-style: solid;" src="/assets/img/<%= item.imgName %>" width="100" height="100">
                                <p class="card-text item-desc" style="margin-left: 0;padding-left: 10%;padding-right: 10%;text-align: left;margin-top: 9px;"><%= item.desc %></p>
                                <button class="btn btn-primary add-to-cart" type="button" style="font-family: Aldrich, sans-serif;font-size: 12px;padding-right: 10px;padding-left: 10px;">Add To Cart</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="content-section">
                    <h2 style="width: 100%; font-family: Aldrich">CART</h2>
                    <div class="cart-row">
                        <span class="cart-item cart-header cart-column">ITEM</span>
                        <span class="cart-price cart-header cart-column">PRICE</span>
                        <span class="cart-quantity cart-header cart-column">TOTAL</span>
                    </div>
                    <div class="cart-items">
                        
                    </div>
                    <div class="cart-total">
                        <strong class="cart-total-title">Total</strong>
                        <span class="cart-total-price">$0</span>
                    </div>
                    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                </section>
            </div>
        </div>
    </div>
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="siteName">PlayThePurge.com</h3>
        <ul class="nav footer-nav">
            <li>
                <p>copyright 2020 - all donations are final</p>
            </li>
            
        </ul>
    </div>
</footer>
</body>

</html>